.button {
    padding: 10px 0;
    border-width: 0;
    display: block;
    width: 120px;
    margin: 25px auto 50px;
    background: #f7bc3e;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}