.catalog-item {
    max-width: 1950px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    // justify-content: space-between;
    &__wrapper {
        display: inline-block;
        width: 200%;
    }
    &__content {
        width: 50%;
        margin-right: 0px;
        transform: translateX(-150%);
        transition: 0.5s all;
        display: none;
        &_active {
            display: block;
            transform: translateX(100%);
            margin-right: 20px;
        }
    }
}

.catalog-item__list {
    color: #ffffff;
    margin-top: 50px;
    width: 50%;
    margin-left: 20px;
    transform: translateX(0%);
    padding-right: 20px;
    transition: 0.5s all;
    padding-left: 0px;
    margin-bottom: 0px;
    &_active {
        transform: translateX(0%);
        margin-left: 0px;
    }
}

// .catalog-item {
//     display: flex;
//     justify-content: flex-start;
//     // flex-wrap: wrap;
// }