footer {
    max-width: 950px;
    margin: 0 auto;
    height: 350px;
}

.icon {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.text {
    color: #ffffff;
}