.promo {
    min-height: 800px;
    padding: 21px 100px 100px;
    background: url("../../../workl/srs/img/EOtM2r1U0AEZ-kp.jpg") center (center/cover) no-repeat;
}

.navb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}