/* *{box-sizing:border-box} */

.container {
    max-width: 950px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

// @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i&subset=cyrillic';
body {
    margin: auto;
    background: #000000;
    //     display: flex;
    //     justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    // width: 1900px;
    height: 566px;
}

// .list {
//     padding-left: 40px;
//     margin-top: 250px;
//     margin-bottom: 1em;
//     color: #611313;
//     font-size: x-large;
// }
@import '_heder';
@import '_footer';
@import '_form';
@import '_footer';
@import '_button';
@import '_navbar';
@import '_catalog';